/*
Author: Nathan Hellrung
*/

html, body {
	margin: 0 auto;
    background-color: #000000;
	font-family: 'VT323', monospace;
}


.myname {
	margin-top: 0vh;
	
	text-align: center;
	color: rgb(0, 255, 0);
}
#nathan-hellrung {
	margin-top: 3vh;
	margin-bottom: 0vh;
	padding: 0vh;
	
	font-family: 'VT323', monospace;
	font-size: 8vw;
}
#blinking-underscore {
	font-family: 'VT323', monospace;
	font-size: 8vw;
	animation: cursorBlinker 1.8s ease-out 0s infinite normal forwards running;
}
@keyframes cursorBlinker {
	0% { opacity: 0; }
	10% { opacity: 1; }
	50% { opacity: 1; }
	60% {opacity: 0; }
	100% {opacity: 0; }
}

#computer-engineer {
	margin-top: 0vh;
	margin-bottom: 0vh;
	padding: 0vh;
	
	font-size: 1.6vw;
}


.tabs {
	margin-top: 2.5vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	border: .21vw solid rgb(0, 255, 0);
	background-color: black;
}
.tabs button {
	padding: .7vw 5.158vw;
	background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
	font-family: 'VT323', monospace;
	font-size: 2.4vw;
	font-weight: bold;
	color: rgb(0, 255, 0);
}
.tabs button:hover {
	background-color: rgb(80, 80, 80);
}
.tabs button.active {
	background-color: rgb(0, 255, 0);
	color: black;
}
.tabs button.active:hover {
	background-color: rgb(0, 200, 0);
}

.tabcontent {
	display: none;
    padding: .4vw .8vw;
    border: .2vw solid rgb(0, 255, 0);
    border-top: none;
	background-color: black;
	color: rgb(0, 255, 0);
	animation: fadeIn 1.5s ease-out;
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% {opacity: 1;}
}



h3 {
	margin-top: 1vh;
	margin-bottom: 2vh;
	font-size: 3.5vw;
    text-decoration: underline;
}

h4 {
	padding-bottom: 0vw;
	margin-bottom: 0;
	margin-top: 2vh;
	font-size: 2.5vw;
}

h5 {
	font-size: 2vw;
	margin: 0;
}

h6 {
	padding-bottom: 0vw;
	padding-top: 0vw;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.5vw;
}

p {
	font-size: 1.25vw;
	display: inline;
}


ol {
	list-style-type: square;
}


#emailaddress {
	font-size: 1.5vw;
	font-weight: bold;
	color: rgb(0, 150, 255);
}

/*
.attributes {
	
}
.hosted-by {
	text-align: center;
	color: rgb(100, 100, 100);
	font-size: .7vw;
}
*/
