/*
Author: Nathan Hellrung
*/


html, body {
    background-color: black;
	font-family: "Courier New", monospace;
}


.myname {
	margin-top: 0vh;
	
	text-align: center;
	color: rgb(0, 255, 0);
}
#nathan-hellrung {
	margin-top: 3vh;
	margin-bottom: 0vh;
	padding: 0vh;
	
	font-size: 6vw;
}
#computer-engineer {
	margin-top: 0vh;
	padding: 0vh;
	
	font-size: 1.6vw;
}


.tabs {
	display: flex;
	justify-content: center;
	overflow: hidden;
	border: .2vw solid rgb(0, 255, 0);
	background-color: black;
}
.tabs button {
	padding: .7vw 3.5vw;
	background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.15s;
	font-family: "Courier New", monospace;
	font-size: 1.4vw;
	font-weight: bold;
	color: rgb(0, 255, 0);
}
.tabs button:hover {
	background-color: rgb(80, 80, 80);
}
.tabs button.active {
	background-color: rgb(0, 255, 0);
	color: black;
}
.tabs button.active:hover {
	background-color: rgb(0, 200, 0);
}

.tabcontent {
	display: none;
    padding: .4vw .8vw;
    border: .2vw solid rgb(0, 255, 0);
    border-top: none;
	background-color: black;
	color: rgb(0, 255, 0);
	animation: fadeIn .5s; /* .5s fade in animation */
}
@keyframes fadeIn {
	0% { opacity: .1; }
	100% {opacity: 1;}
}


h3 {
	font-size: 2.5vw;
    text-decoration: underline;
}


.degreeinfo {
	
}
.collegedata {
	display: inline;
}


ol {
	list-style-type: square;
}


#emailaddress {
	font-weight: bold;
	color: rgb(0, 150, 255);
}


.attributes {
	
}
.hosted-by {
	text-align: center;
	color: rgb(100, 100, 100);
	font-size: .7vw;
}

